name: Clear cache

on:
  workflow_dispatch:

permissions:
  actions: write

jobs:
  clear:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all caches
        run: gh cache delete --all --repo ${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
